<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successModalLabel">Conecte-se a instancia</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <img src="{{ qrcode_image }}" alt="QR Code" class="img-fluid mx-auto d-block" id="qrcode">
                <p class="text-danger">Escaneie o qr code com seu whatsapp para ativar a instancia</p>
            </div>
        </div>
    </div>
</div>