{% load static %}
    <div class="modal fade" id="addTagModal" tabindex="-1" aria-labelledby="addTagModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addTagModalLabel">Adicionar Tag<i class="bi bi-tag ml-2"></i></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% include 'contact_load/modal_tag_load.html' %}
            </div>
        </div>
    </div>
<script type="module" src="{% static 'js/modalAddTag.js' %}"></script>